$default_line_height: 18px;
$default_font_size: 14px;

$white: #FCFCFC;
$black: #222222;

@mixin rounded-corners ($radius: 5px) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-width: 1px;
  border-style: solid;
}

@mixin shadows($box-shadow-color, $blur: 1px, $x: 1px, $y: 1px) {
  -webkit-box-shadow: $x $y $blur $box-shadow-color;
     -moz-box-shadow: $x $y $blur $box-shadow-color;
      -ms-box-shadow: $x $y $blur $box-shadow-color;
       -o-box-shadow: $x $y $blur $box-shadow-color;
          box-shadow: $x $y $blur $box-shadow-color;
}

@mixin shadow-inset($color: rgba(0, 0, 0, 0.5), $blur: 8px, $x: 2px, $y: 2px) {
  -webkit-box-shadow: inset $x $y $blur $color;
     -moz-box-shadow: inset $x $y $blur $color;
      -ms-box-shadow: inset $x $y $blur $color;
       -o-box-shadow: inset $x $y $blur $color;
          box-shadow: inset $x $y $blur $color;
}

@mixin button($button-padding: 14px) {
  @include rounded-corners($button-padding);
  @include shadows(#777, 1px, 1px, 1px);
  padding: $button-padding;

  text-align: center;
  font-size: $default_font_size + 4;
  line-height: $default_line_height + 4;
  color: $white;
  margin-top: 0px;
  margin-bottom: 0px;

  p.sub-text {
    color: darken($white, 15%);
    font-weight: normal;
  }
}

@mixin glossy-gradient($base-color, $base-bright: 45%) {
  $hue: hue($base-color);
  $saturation: saturation($base-color);
  $button-bottom:    hsl( $hue, $saturation, $base-bright + 0);
  $button-mid-point: hsl( $hue - 5, $saturation + 2, $base-bright + 10);
  $button-split:     hsl( $hue - 5, $saturation + 5, $base-bright + 5);
  $button-top:       hsl( $hue - 1, $saturation + 3, $base-bright + 20 );

  background: $button-bottom; /* Old browsers */
  background: -moz-linear-gradient(top, $button-top 0%, $button-mid-point 50%, $button-split 51%, $button-bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$button-top), color-stop(50%,$button-mid-point), color-stop(51%,$button-split), color-stop(100%,$button-bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $button-top 0%,$button-mid-point 50%,$button-split 51%,$button-bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, $button-top 0%,$button-mid-point 50%,$button-split 51%,$button-bottom 100%); /* IE10+ */
  background: -o-linear-gradient(top, $button-top 0%,$button-mid-point 50%,$button-split 51%,$button-bottom 100%); /* Opera 11.10+ */
  background: linear-gradient(top, $button-top 0%,$button-mid-point 50%,$button-split 51%,$button-bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$button-top', endColorstr='$button-bottom',GradientType=0 ); /* IE6-9 */
}

