<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <script src="javascripts/vendor/modernizr-2.6.2.min.js"></script>
    <script src="javascripts/vendor/require-jquery.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
