<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (typeof flash !== 'undefined') { %>
      <section class="flash"><%= flash %></section>
    <% } %>
    <section class="clearfix">
      <section id="left"  class="left clearfix"> </section>
      <section id="right" class="right clearfix"></section>
    </section>
    <section id="keyboard"></section>
    <% if (typeof roomName !== 'undefined') { %>
      <input id="room-name" type="hidden" value="<%= roomName %>" />
    <% } %>
    <script src="/javascripts/vendor/modernizr-2.6.2.min.js"></script>
    <script data-main="/javascripts/main.js" src="/javascripts/vendor/require-jquery.js"></script>
  </body>
</html>
