body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.redBG {
  background-color: #f22;
}

.greenBG {
  background-color: #2f2;
}

.left {
  width: 48%;
  float: left;
}

#controls {
  text-align: center;
}

.right {
  width: 48%;
  float: right;
}
