body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.redBG {
  background-color: #f66;
  margin-bottom: 30px; }

.greenBG {
  background-color: #6f6;
  margin-bottom: 30px; }

#play-area {
  border-radius: 5px;
  padding: 10px; }

.left {
  width: 48%;
  float: left;
  height: 250px;
  overflow: auto; }

.right {
  width: 48%;
  float: right;
  height: 300px; }

#controls {
  text-align: center; }

#keyboard {
  position: absolute;
  top: 325px;
  left: 50px;
  width: 819px; }
  #keyboard img {
    position: absolute;
    z-index: 4; }
  #keyboard p {
    color: #f4f4f4;
    font-size: 15px;
    position: absolute;
    text-align: center;
    background-color: #ff6464;
    z-index: 5; }
  #keyboard .white-label {
    width: 27.75px;
    height: 27.75px;
    line-height: 27.75px;
    border-radius: 13.875px;
    top: 156.75px; }
  #keyboard .black-label {
    width: 19.5px;
    height: 19.5px;
    line-height: 19.5px;
    border-radius: 9.75px;
    top: 91.25px; }

.beat-pulse-run {
  -webkit-animation: beat-pulse 1s linear 1; }

@-webkit-keyframes beat-pulse {
  15% {
    -webkit-box-shadow: 0px 0px 5px 10px rgba(30, 0, 255, 0.5);
    box-shadow: 0px 0px 5px 10px rgba(30, 0, 255, 0.5); }

  100% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(30, 0, 255, 0.5);
    box-shadow: 0px 0px 0px 0px rgba(30, 0, 255, 0.5); } }
